<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %> </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link rel="stylesheet" href="/<%= htmlWebpackPlugin.files.css[css] %>">
    <% } %>
  </head>
  <body>
    <div id="root"></div>

    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script src="/<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>
  </body>
</html>
